tensorflow-intel==2.18.0
keras==3.5.0
numpy==1.26.4
protobuf==3.20.3
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2
streamlit==1.41.0
tensorboard==2.18.0
sentence-transformers==2.2.2
pytorch-lightning==2.4.0
torchmetrics==0.7.0
pgmpy==0.1.26
pandas==1.5.3
scikit-learn==1.2.2
flask==2.2.5
transformers==4.38.2
tokenizers==0.15.2
huggingface-hub==0.22.2
